<% include partials/header.ejs %>

<body>
    <% include partials/nav.ejs %>

    <!-- image and log containers -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="/logoTest.jpg" alt="aa logo" id="chaosLogo">
        </div>
    </div>
    
    <div class="container-fluid">
        <h1>This is the HOME page!!!!</h1>
        <div class="col-sm-6">
            <p class="text-center" id="scroll">(scroll for more events)</p>
                <div class="text-left" id="blog-row__div">
                    <% data.forEach((data) => { %>
                        <% let newDate = new Date(data.date)%>
                        <% let day = weekDay[newDate.getDay()]; %>
                        <% let month = monthNames[newDate.getMonth()]; %>
                        <% let date = newDate.getDate(); %>
                        <h1 class="text-center"><span class="d_o_w shadow"><%= day %></span> <%=  month %> <%= date %></h1>
                        <h2 class="text-center text-uppercase font-weight-bold event_title shadow"><%= data.event_title %></h2>
                        <h3><%= data.event_desc%></h3>
                        <p>Contact: <span class="blog_text"><%= data.contact_name%></span></p>
                        <p>Contact Info: <span class="blog_text"><%= data.contact_info%></span></p>
                        <br>
                    <% }); %>
                </div> 
        </div>
    </div>  
</body>
